<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1>Hello World</h1>
    <p>
      ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ,
      ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ
      ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ
      ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್
      ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ
      ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ
    </p>
    <h1>Hello World</h1>
    <p>
      ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ,
      ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ
      ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ
      ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್
      ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ
      ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ
    </p>
    <h1>Hello World</h1>
    <p>
      ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ,
      ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ
      ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ
      ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್
      ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ
      ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ
    </p>
    <h1>Hello World</h1>
    <p>
      ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ,
      ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ
      ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ
      ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್
      ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ
      ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ
    </p>
    <h1>Hello World</h1>
    <p>
      ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ,
      ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ
      ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ
      ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್
      ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ
      ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ
    </p>
    <h1>Hello World</h1>
    <p>
      ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ,
      ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ
      ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ
      ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್
      ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ
      ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ
    </p>
    <h1>Hello World</h1>
    <p>
      ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ,
      ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ
      ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ
      ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್
      ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ
      ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ
    </p>
    <h1>Hello World</h1>
    <p>
      ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ,
      ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ
      ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ
      ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್
      ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ
      ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ
    </p>
    <h1>Hello World</h1>
    <p>
      ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ,
      ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ
      ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ
      ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್
      ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ
      ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ
    </p>
    <h1>Hello World</h1>
    <p>
      ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ,
      ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ
      ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ
      ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್
      ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ
      ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ
    </p>
    <h1>Hello World</h1>
    <p>
      ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ,
      ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ
      ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್ ನಡುವೆ
      ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ ಕ್ರಾಸ್
      ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸೌಧ’, #68, 17 ಮತ್ತು 18ನೇ
      ಕ್ರಾಸ್ ನಡುವೆ ಮಾರ್ಗೋಸಾ ರಸ್ತೆ, ಮಲ್ಲೇಶ್ವರಂ
    </p>
  </body>
</html>